.apples-container {
  padding: 40px 8%;
}

.apples-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header-title {
  font-size: 26px;
  font-weight: 700;
  color: #1a1a1a;
}

.header-nav {
  display: flex;
  gap: 10px;
}

.nav-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.nav-btn.active, .nav-btn:hover {
  background: #00cbcb;
  color: white;
  border-color: #00cbcb;
}

.apples-content {
  display: flex;
  gap: 20px;
}


.apples-banner {
  flex: 1;
  background: #111;
  border-radius: 12px;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  min-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.banner-txt h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

.banner-txt p {
  color: #aaa;
  font-size: 15px;
}

.apples-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product-mini-card {
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  display: flex;
  padding: 12px;
  align-items: center;
  transition: 0.3s ease;
  background: #fff;
}

.product-mini-card:hover {
  border-color: #00cbcb;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card-img-box {
  width: 80px;
  height: 80px;
  background: #f8f8f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  flex-shrink: 0;
}

.card-img-box img {
  width: 80%;
  object-fit: contain;
}

.card-details {
  overflow: hidden;
}

.price-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 4px;
}

.price-new {
  font-size: 17px;
  color: #1a1a1a;
  font-weight: 700;
}

.price-old {
  text-decoration: line-through;
  color: #bbb;
  font-size: 13px;
}

.product-name {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
  
}

.rating-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stars-box {
  color: #00cbcb;
  display: flex;
  font-size: 12px;
}

.reviews-count {
  color: #999;
  font-size: 12px;
}


@media (max-width: 1250px) {
  .apples-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 950px) {
  .apples-content { flex-direction: column; }
  .apples-banner { width: 100%; height: auto; min-height: 250px; }
  .apples-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
  .apples-grid { grid-template-columns: 1fr; }
}