.choose-wrapper {
  padding: 60px 8%;
  background: #fff;
}

.choose-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.brand-list {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: hidden; 
}

.brand-item {
  width: 120px;
  height: 120px;
  background: #c9c7c7;
  border-radius: 10px;
}

.slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}



@media (max-width: 900px) {
  .brand-item {
    min-width: 100px;
    height: 100px;
  }
  .choose-wrapper {
    padding: 30px 4%;
  }
}