.t-wrap {
  padding: 40px 8%;
}

.t-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 25px;
}

.t-card {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  transition: 0.3s;
}

.t-card:hover {
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.t-user-img .img-placeholder {
  width: 100px;
  height: 100px;
  background: #e0e0e0;
  border-radius: 8px;
  flex-shrink: 0;
}

.t-info {
  flex: 1;
}

.t-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.t-name {
  font-weight: 700;
  color: #111;
  font-size: 16px;
}

.t-job {
  color: #888;
  font-size: 14px;
}

.t-dot {
  color: #ccc;
}

.t-stars {
  color: #00cbcb;
  display: flex;
  font-size: 12px;
}

.t-text {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  font-style: italic;
}


@media (max-width: 900px) {
  .t-grid { grid-template-columns: 1fr; }
}