@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

.arrivals-wrapper {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  padding: 60px 0;
}

.banner-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

.banner-box {
  background: linear-gradient(135deg, #d9f9f9 0%, #fde4ec 50%, #f5f5f5 100%);
  border-radius: 4px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 10%;
}

.banner-bg-text {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-80%);
  font-size: 20vw;
  font-weight: 800;
  color: rgba(201, 195, 195, 0.4);
}

.banner-content {
  max-width: 450px;
  position: relative;
  z-index: 5;
}

.b-subtitle {
  font-size: 15px;
  font-weight: 600;
  color: #444;
}

.b-title {
  font-size: 40px;
  font-weight: 800;
  margin: 15px 0;
  color: #1a1a1a;
}

.b-desc {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 35px;
}

.b-price-row {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.price-tag {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #ccc;
  padding: 12px 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}



.b-shop-btn {
  background: #1a1a1a;
  color: #fff;
  padding: 18px 45px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}



@media (max-width: 1100px) {
  .cat-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-bg-text {
    font-size: 25vw;
  }
}

@media (max-width: 768px) {
  .cat-grid {
    grid-template-columns: 1fr;
  }
  .banner-box {
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }
  .b-price-row {
    justify-content: center;
  }
  .banner-bg-text {
    display: none;
  }
}
