.cards-asos {
  padding: 40px 8%;
  background: #fff;
}

.f-tepa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.f-sarlavha {
  font-size: 28px;
  font-weight: 700;
  color: #1a1a1a;
}

.f-tugmalar {
  display: flex;
  gap: 12px;
}

.f-tugmalar button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.3s;
}

.f-tugmalar button.active, 
.f-tugmalar button:hover {
  background: #00cbcb;
  color: white;
  border-color: #00cbcb;
}

/* Mahsulotlar Grid tizimi */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.c-karta {
  background: #fff;
  transition: 0.3s;
}

.c-rasm {
  width: 300px; 
  height: 300px; /* Rasm balandligi */
  background: #f6f6f6;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.c-rasm img {
  width: 200px;
  object-fit: contain;
  transition: 0.5s;
}

.c-karta:hover img {
  transform: scale(1.1);
}

.c-skidka {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #00cbcb;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.c-matn {
  padding-top: 15px;
}

.c-narx {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.c-p {
  font-size: 20px;
  font-weight: 800;
  color: #111;
}

.c-h {
  text-decoration: line-through;
  color: #aaa;
  font-size: 15px;
}


.c-rate {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #777;
}

.star {
  color: #ffb800;
}

/* Responsivlik */
@media (max-width: 1100px) {
  .cards-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 800px) {
  .cards-grid { grid-template-columns: repeat(2, 1fr); }
  .c-rasm { height: 220px; }
}