* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

.cards-asos {
  padding: 60px 8%;
  background: #ffffff;
}

.f-tepa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.f-sarlavha {
  font-size: 34px;
  font-weight: 800;
  color: #0f172a;
  letter-spacing: -1.2px;
}

.f-tugmalar {
  display: flex;
  gap: 12px;
}

.f-tugmalar button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: #fff;
  color: #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.c-karta {
  background: #f1f1f1;
  border-radius: 22px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-rasm {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: #4294f113;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
}
.c-rasm img{
  border-radius: 10px;
}

.c-rasm img {
  width: 200px;
  object-fit: contain;
}

.c-skidka {
  position: absolute;
  top: 14px;
  left: 14px;
  background: #00cbcb;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.c-matn {
  width: 100%;
  text-align: center;
}

.c-narx {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-bottom: 12px;
}

.c-p {
  font-size: 22px;
  font-weight: 800;
  color: #020617;
}

.c-h {
  font-size: 14px;
  font-weight: 600;
  color: #9ca3af;
  position: relative;
  top: -1px;
}

.c-title {
  font-size: 15.5px;
  font-weight: 600;
  color: #1f2937;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  height: 46px;
 
}

.c-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  color: #777;
}

.star {
  color: #ffb800;
}

@media (max-width: 1100px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
  .cards-asos {
    padding: 40px 5%;
  }
  .f-sarlavha {
    font-size: 26px;
  }
  .c-rasm {
    height: 230px;
  }
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
